<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<!-- th:action="@{/update}를 th:action="@{/userspage/update}"로 수정-->
<!-- th:object="${user}" DTO로 변환하면 에러남-->
<form action="#" th:action="@{/userspage/update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> <br />
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" readonly>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span> <br />
    <input type="submit" value="Update User">
</form>
</body>
</html>
